<div class="container">
    <div class="row">
        <h1> Reports </h1>
        <hr />
        <ul>
            <li><a asp-action="salary">Salary report </a></li>
            <li><a asp-action="profit">Profit report </a></li>          
        </ul>
    </div>
</div>