@model LoginVM


<div class="col-lg-4 m-auto">
    <div class="mb-3">
        <a style="text-decoration:none;">
            <h3 class="text-primary text-center"><i class="fa-solid fa-shop-lock"></i> Shop Managment</h3>
        </a>       
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <form method="post" style="margin:auto;">
        <div class="form-floating mb-3">
            <input asp-for="UserName" class="form-control" placeholder="Full Name">
            <label asp-for="UserName"></label>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-floating mb-4">
            <input asp-for="Password" class="form-control" placeholder="Password">
            <label asp-for="Password">Password</label>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>       
        <div style="margin:auto;">
            <button style="width:50%;" type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
        </div>
    </form>
    
</div>

