@model CustomerCreateVM

<div class="container">
    <div class="row">
        <div class="add_customer">
            <form method="post">
                            
                <div class="formcontainer">
                    <h1>New Customer</h1>
                    <div class="containerr">
                        <div>
                            <label class="text-primary"><strong>Full Name</strong></label>
                            <input class="form-control" asp-for=FullName type="text" placeholder="Enter Full Name" required>
                            <span class="text-danger" asp-validation-for="FullName"></span>
                        </div>
                        <div>
                            <label class="text-primary"><strong>E-mail</strong></label>
                            <input class="form-control" asp-for=Email type="text" placeholder="Enter E-mail">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div>
                            <label class="text-primary"><strong>Phone Number</strong></label>
                            <input class="form-control" asp-for=PhoneNumber type="text" placeholder=" Example +994123456789">
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                        <div>
                            <label class="text-primary"><strong>Address</strong></label>
                            <input class="form-control" asp-for=Address type="text" placeholder="Enter Address">
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit"><strong>Add Customer</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Css{
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
}