@model LayoutVM

<div style="background-color:gray;" class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="fa-solid fa-shop"></i>
            <div class="logo_name">Admin Panel</div>
        </div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>
    <ul class="nav_list">
        @* <li>
        <form method="get" asp-action="index" asp-controller="home">
        <i class='bx bx-search'></i>
        <input type="text" name="search" placeholder="Search...">
        <button type="submit" class="tooltip">Search</button>
        </form>
        </li>*@
        <li>
            <a asp-action="salary" asp-controller="report">
                <i class="fa-solid fa-sack-dollar"></i>
                <span class="links_name">Salary Info</span>
            </a>
            <span class="tooltip">Salary</span>
        </li>
        <li>
            <a asp-action="profit" asp-controller="report">
                <i class="fa-solid fa-chart-line"></i>
                <span class="links_name">Profit Info</span>
            </a>
            <span class="tooltip">Profit</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="refund">
                <i class="fa-solid fa-rotate-left"></i>
                <span class="links_name">Returns</span>
            </a>
            <span class="tooltip">Returns</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="product">
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="links_name">Products</span>
            </a>
            <span class="tooltip">Products</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="punishment">
                <i class="fa-solid fa-skull-crossbones"></i>
                <span class="links_name">Punishment</span>
            </a>
            <span class="tooltip">Punishment</span>
        </li>
        @if (User.IsInRole("MainAdmin"))
        {
            <li>
                <a asp-action="superadmin" asp-controller="dashboard">
                    <i class="fa-solid fa-wrench"></i>
                    <span class="links_name">Main-Admin</span>
                </a>
                <span class="tooltip">Main-Admin</span>
            </li>
        }
        <li>
            <a asp-action="index" asp-controller="sale" asp-area="default">
                <i class="fa-solid fa-door-open"></i>
                <span class="links_name">Exit</span>
            </a>
            <span class="tooltip">Exit</span>
        </li>
    </ul>

    <div class="profile_content">
        <div style="background-color:#545454;" class="profile">
            <div class="profile_details">
                @*<img src="/assets/img/Random.png" alt="">*@
                <div class="name_job">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="name">@User.Identity.Name</div>
                        <div class="job">
                            @foreach (var item in Model.Role)
                            {
                                <span>@item </span>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <a asp-action="logout" asp-controller="account" asp-area="default"><i style="background:gray;" class="fa-solid fa-right-from-bracket" id="log_out"></i></a>
    </div>
</div>