@model LayoutVM

<div style="background-color:gray;" class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="fa-solid fa-shop"></i>
            <div class="logo_name">Admin Panel</div>
        </div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>
    <ul class="nav_list">
        @* <li>
        <form method="get" asp-action="index" asp-controller="home">
        <i class='bx bx-search'></i>
        <input type="text" name="search" placeholder="Search...">
        <button type="submit" class="tooltip">Search</button>
        </form>
        </li>*@
        <li>
            <a asp-action="index" asp-controller="report">
                <i class="fa-solid fa-landmark"></i>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="refund">
                <i class="fa-solid fa-rotate-left"></i>
                <span class="links_name">Returns</span>
            </a>
            <span class="tooltip">Returns</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="product">
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="links_name">Products</span>
            </a>
            <span class="tooltip">Products</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="employee">
                <i class="fa-solid fa-person-digging"></i>
                <span class="links_name">Employee</span>
            </a>
            <span class="tooltip">Employee</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="dashboard">
                <i class="fa-solid fa-wrench"></i>
                <span class="links_name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
    </ul>

    <div class="profile_content">
        <div style="background-color:#545454;" class="profile">
            <div class="profile_details">
                @*<img src="/assets/img/Random.png" alt="">*@
                <div class="name_job">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="name">@User.Identity.Name</div>
                        <div class="job">@Model.Role.FirstOrDefault()</div>
                    }
                </div>
            </div>
        </div>
        <i style="background:gray;" class="fa-solid fa-right-from-bracket" id="log_out"></i>
    </div>
</div>