@model LayoutVM

<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="fa-solid fa-shop"></i>
            <div class="logo_name">Managment</div>
        </div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>
    <ul class="nav_list">
       @* <li>
            <form method="get" asp-action="index" asp-controller="home">
                <i class='bx bx-search'></i>
                <input type="text" name="search" placeholder="Search...">
                <button type="submit" class="tooltip">Search</button>
            </form>
        </li>*@
        <li>
            <a asp-action="index" asp-controller="home">
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="links_name">Products</span>
            </a>
            <span class="tooltip">Products</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="customer">
                <i class="fa-solid fa-person"></i>
                <span class="links_name">Customers</span>
            </a>
            <span class="tooltip">Customers</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="sale">
                <i class="fa-solid fa-table-list"></i>
                <span class="links_name">Sales List</span>
            </a>
            <span class="tooltip">Sale List</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="refund">
                <i class="fa-regular fa-folder"></i>
                <span class="links_name">File Manager</span>
            </a>
            <span class="tooltip">File Manager</span>
        </li>
        <li>
            <a asp-action="orders" asp-controller="sale">
                <i class="fa-solid fa-basket-shopping"></i>
                <span class="count">@Model.CountOrder</span>
                <span class="links_name">Orders</span>
            </a>
            <span class="tooltip">Order</span>
        </li>
        <li>
            <a href="">
                <i class="fa-regular fa-message"></i>
                <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
        </li>
        <li>
            <a asp-action="index" asp-controller="boxoffice">
                <i class="fa-solid fa-cash-register"></i>
                <span class="links_name">Box Office</span>
            </a>
            <span class="tooltip">Box Office</span>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-wrench"></i>
                <span class="links_name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                @*<img src="/assets/img/Random.png" alt="">*@
                <div class="name_job">
                   @if(User.Identity.IsAuthenticated)
                   {
                        <div class="name">@User.Identity.Name</div>
                        <div class="job">@Model.Role.FirstOrDefault()</div>
                    }
                </div>
            </div>
        </div>
        <a asp-action="logout" asp-controller="account"><i class="fa-solid fa-right-from-bracket" id="log_out"></i></a>
    </div>
</div>
