@model int

<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bxl-c-plus-plus'></i>
            <div class="logo_name">Managment</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
       @* <li>
            <form method="get" asp-action="index" asp-controller="home">
                <i class='bx bx-search'></i>
                <input type="text" name="search" placeholder="Search...">
                <button type="submit" class="tooltip">Search</button>
            </form>
        </li>*@
        <li>
            <a asp-action="index" asp-controller="home">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-user'></i>
                <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-chat'></i>
                <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Analitics</span>
            </a>
            <span class="tooltip">Analitics</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-folder'></i>
                <span class="links_name">File Manager</span>
            </a>
            <span class="tooltip">File Manager</span>
        </li>
        <li>
            <a asp-action="orders" asp-controller="sale">
                <i class='bx bx-cart-alt'></i>
                <span class="count">@Model</span>
                <span class="links_name">Orders</span>
            </a>
            <span class="tooltip">Order</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-heart'></i>
                <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-cog'></i>
                <span class="links_name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="/assets/img/Random.png" alt="">
                <div class="name_job">
                    <div class="name">Qurban Zakiri</div>
                    <div class="job">Developer</div>
                </div>
            </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
    </div>
</div>
