@model EmployeeCreateVM

<div class="container">
    <div class="bg-light rounded h-100 p-4">
        <h1 class="mb-4 text-primary">Employee Create</h1>
        <hr />
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for=FullName class="form-label text-primary">Full Name</label>
                <input asp-for=FullName class="form-control">
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BirthDate" class="form-label text-primary"></label>
                <input type="date" asp-for="BirthDate" class=" form-control">
                <span class="text-danger" asp-validation-for="BirthDate"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Number" class="form-label text-primary">Phone Number</label>
                <input asp-for="Number" class=" form-control" placeholder="Example +994123456789">
                <span class="text-danger" asp-validation-for="Number"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EmployeePositionId" class="form-label text-primary"></label>
                <select asp-for="EmployeePositionId" asp-items=ViewBag.Position class="form-select">
                </select>
                <span class="text-danger" asp-validation-for="EmployeePositionId"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BranchId" class="form-label text-primary">Select Branch</label>
                <select asp-for="BranchId" asp-items=ViewBag.Branch class="form-select">
                </select>
                <span class="text-danger" asp-validation-for="BranchId"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Employee</button>
            <a class="btn btn-primary" asp-action="index">Go Back</a>

        </form>
    </div>
</div>



