@model ProductCategoryCreateVM

<div class="container">
    <div class="bg-light rounded h-100 p-4">
        <h1 class="mb-4 text-primary">Product Category Create</h1>
        <form method="post">
            <div class="mb-3">
                <label asp-for=Name class="form-label text-primary">Full Name</label>
                <input asp-for=Name class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for=Bonus class="form-label text-primary">Bonus </label>
                <input asp-for=Bonus class="form-control" type="number">
                <span class="text-danger" asp-validation-for="Bonus"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Category</button>
            <a class="btn btn-primary" asp-action="index">Go Back</a>

        </form>
    </div>
</div>



