@model BrandEditVM


<div class="container">

    <div class="bg-light rounded h-100 p-4">
        <h1 class="mb-4 text-primary">Employee Create</h1>
        <form method="post">
            <div class="mb-3">
                <label asp-for=BrandName class="form-label text-primary">Full Name</label>
                <input asp-for=BrandName class="form-control">
                <span class="text-danger" asp-validation-for="BrandName"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Brand</button>
            <a class="btn btn-primary" asp-action="index">Go Back</a>

        </form>
    </div>

</div>
